.box {
  /* Ширина и высота квадрата */
  height: 220px;
  width: 350px;
  /* Цвет квадрата */
  background-color: green;
  /* Делаем внутренне отступление */
  padding: 15px 10px 20px 10px;
  /* И делаем внешнее отступление */
  margin-bottom: 30px;
  /* Делаем пунктир для квадрата и задаём для неё толщину и цвет*/
  border-style: dashed;
  border-color: red;
  border-width: 2px;
}