.nav-list-item {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: #03a9f4;
    list-style-type: none;
  }
  .nav-link-item {
    text-decoration: none;
  }
  .nav-link-item:hover {
    color: #03a9f4;
  }
  .heading {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 14px;
    line-height: 1.14;
    color: #03a9f4;
  }
  .title {
   font-family: Playfair 'Display';
   font-weight: 300;
   font-size: 30px;
   line-height: 1.33;
  }
  .description {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 1.36;
    line-height: 19px;
  }
  .main-list {
    list-style-type: none;
  }